<section style="background-color: antiquewhite; margin-bottom: 30px; border: 2px solid black;">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{else if weather}}
      <div class="card" style="background-color: aqua;height:300px">
        <p>
          <i class="fas fa-thermometer-half"></i>
          {{weather.main.temp}}&deg;F
        </p>
        <p>
          <i class="fas fa-cloud"></i>
          {{weather.weather.[0].main}}
        </p>
        <p>
          <i class="fas fa-map-marker-alt"></i>
          {{weather.name}}, {{weather.sys.country}}
        </p>
      </div>
    {{/if}}
  </div>
</section>
